.bgbody {
  width: 100%;
  background-repeat: repeat-y;
  background-color: gray;
}
.titlebase {
  height: 100%;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 5em;
  background-color: gray;
  margin-bottom: 0px;
  color: darkred;
}
.prestation-results {
  min-width: 288px;
  max-width: 1200px;
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
canvas{
  background-color: greenyellow;
}
.table{
  top: 150px;
  position: absolute;
}
.scoreboard {
  h2{
    position: absolute;
    bottom: 50px;
    color: red;
  }
}



