.bgbody {
  width: 100%;
  background-repeat: repeat-y;
  background-color: gray;
}

.titlebase {
  height: 100%;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 5em;
  background-color: gray;
  margin-bottom: 0px;
  color: darkred;
}


p {
  color: blue;
}
