{% extends 'base.html.twig' %}

{% block title %}TypePerformance index{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}
    <h1>TypePerformance index</h1>
<div class="results">

        {% for type_performance in type_performances %}

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title text-center">{{ type_performance.name }}</h4>
                    {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('type_performance_edit', {'id': type_performance.id}) }}">edit</a>{% endif %}
                </div>
            </div>
        {% else %}

                <p colspan="3">no records found</p>

        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %} <a href="{{ path('type_performance_new') }}">Create new</a>{% endif %}


</div>

        {% endblock %}
