{% include 'base.html.twig' %}
{% block body %}
<p id="score"></p>
<canvas id="myCanvas" width="480" height="320"></canvas>

{% endblock %}
{% block javascripts %}
 {{ encore_entry_script_tags('app') }}
 {{ encore_entry_script_tags('jeux') }}
{% endblock %}
