{% extends 'base.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <main>

        <h1 class="titlebase">VICTORY</h1>
        <img class="bgbody" src="https://www.ville-sens.fr/wp-content/uploads/2018/01/aff-A3-_ecole-cirque.jpg">
    </main>
{% endblock %}
